extends layout

block content

  form(action="/", method="post") 
    table
    .container.text-center 
      .row
        .col 
          tr 
            span.input-group-text.text-wrap  ID
              input.form-control(name="id", type="number", required) 
          tr
            span.input-group-text.text-wrap NOMBRE
              input.form-control(name="nombre", type="text" required)
          tr 
            span.input-group-text.text-wrap APELLIDO
              input.form-control(name="apellido", type="text" required)
        .col 
          tr
            span.input-group-text.text-wrap SALARIO
              input.form-control(name="salario", type="number" required)
          tr 
            span.input-group-text.text-wrap EPS
              input.form-control(name="eps", type="text" required)
          tr
            span.input-group-text.text-wrap ARL
              input.form-control(name="arl", type="text" required)
        .col 
            tr 
              span.input-group-text.text-wrap FECHA DE NACIMIENTO
                input.form-control(name="fna", type="date" required)
            tr
              span.input-group-text.text-wrap FECHA DE INGRESO
                input.form-control(name="fin", type="date" required)
            tr 
              span.input-group-text.text-wrap FECHA DE EGRESO
                input.form-control(name="feg", type="date")        

      button.btn.btn-primary(type="submit") Crear